<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if city %}
	<!-- Cookie is Saved -->
	<div>
		Your City is {{city}}
		<form method="post">
			{% csrf_token %}
			<input type="submit" value="Change City" name="command">
		</form>
	</div>
	{% else %}
	<!-- Cookie is not Saved -->
	<div>
		<form method="post">
			{% csrf_token %}
			<input type="text" name="city" placeholder="Enter City"> <input type="submit" value="Save City" name="command">
		</form>
	</div>
	{% endif %}
</body>
</html>